:root {
  --first-bg: #b61414;
  --seconnd-bg: #8e1010;
}
.header {
  background: #1b1b1b;
  border-bottom: solid 1px #ffdf00;
  padding: 10px 15px;
}
.avilable a img {
  width: 140px;
  border: 1px solid #fff;
  border-radius: 8px;
}
.avilable p {
  font-size: 13px;
  line-height: 1.5;
}
.logo {
  margin-right: 15px;
}
.header-nav ul li a {
  color: #fff;
  font-size: 15px;
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
font-weight: 800;
}
.header-nav ul li a.active, .header-nav ul li a:hover, .header-nav ul li a:focus {
  color: #ffdf00;
}
.header-nav ul li.dropdown .dropdown-menu {
  background: linear-gradient(#b61414, #8e1010);
  border: solid 1px #ffdf00;
  color: #efd78c;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.70);
}
.header-nav ul li.dropdown .dropdown-menu li a {
  color: #efd78c;
  font-size: 16px;
}
.header-nav ul li.dropdown .dropdown-menu li a:hover {
  background: #4a1819;
color: #efd78c;
}

.navinput input{
  background: url(../img/search.svg), #4a1819;
background-repeat: no-repeat;
background-size: 15px;
background-position: 5px;
padding: 3px;
padding-left: 27px;
font-size: 15px;
color: #ffffff;
border-radius: 7px;
border-color: rgba(255, 255, 255, 0.08);
width: 100%;
outline: none
}
.navinput {
  padding-left: 15px;
}
.sectionbg{background: linear-gradient(var(--first-bg), var(--seconnd-bg));}
.avilablesection img {
  margin: 10px 5px;
}
.hcolr {
  color: #efd78c;
}
.avilablesection p {
  font-size: 30px;
  padding-right: 10px;font-weight: 500;
}
.patternbg{
  background: url('../img/pattern_1.png') #1b1b1b left top repeat;
}
.cardtext {
  background: #f1b51c;
  text-align: center;
  border-radius: 0 0 6px 6px;
  padding: 5px;
}
.cardcontent * {
  transition: all .4s linear;
}
.cardtext h3 {
  color: #fff;
  text-align: center;
  font-size: 25px;
}
.cardcontent {
  border-radius: 6px;
}
.cardcontent img {
  border-radius: 6px 6px 0 0;
}
.cardcontent:hover .cardtext {
  background: linear-gradient(var(--first-bg), var(--seconnd-bg));
}
.cardcontent:hover img {
  transform: scale(1.1);
}
.section-pd {
  padding-top: 50px;
  padding-bottom: 50px;
}
.sectionBg {
  background: url('../img/sectionBg.png');
}
.icon-list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icon-list ul li {
  padding: 0 15px;
  width: 20%;
  margin-bottom: 20px;
}
.icon-list ul li a img {
  width: 100%;
}
.footerlink ,.footersocial{flex-wrap: wrap;list-style: none;}
.footersocial img {
  padding: 7px;
}
.footerlink li {
  padding: 10px;
}
a {
  text-decoration: none;
}
.footerlink li a:hover {
  color: #fff;
}
.logo img {
  width: 67px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header .navbar-toggler {
  border: 1px dashed rgba(255,255,255,.1);
  outline: none !important;
  box-shadow: none !important;
}
.mobilemenu {
  display: none;
}
.imgresponsive {border-radius: 6px;}
.testionial-user {
  width: 70px !important;
  margin-bottom: 15px;
}
.testimonial .w-auto p {
  color: #fff;
  letter-spacing: 1px;
}
.testionial-name {
  text-align: center;
  font-size: 14px;
}
.testionial-name strong {
  display: block;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
}
.testimonialfirst {
  padding-right: 60px;
}
.testimonial .owl-nav.disabled {
  position: absolute;
right: 0;
top: 37%;
z-index: 99;
display: block !important;
right: 0;
width: 100%;
}
.testimonial .owl-prev {
float: left;
}
.testimonial .owl-next {
  float: right;
}
.testimonial .owl-nav .owl-prev {
  margin-right: 15px;
}
.testimonial .owl-nav button {
  /*background: linear-gradient(180deg,var(--first-bg),var(--seconnd-bg)) !important;*/
  width: 40px;
  height: 40px;
  position: relative !important;
  border-radius: 50% !important;
  color: #fff !important;
  font-size: 45px !important;
}
.testimonial .owl-nav button span {
  line-height: 26px !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0px !important;
}



.testionial-user {
  display: block;
  margin: 0px auto;
    margin-bottom: 0px;
  margin-bottom: 15px;
}
.testimonialfirst {
  padding: 0;
}
.testimonialfull {
  width: 100% !important;
}
.testimonialfirst.testimonialfull {
  width: 60% !important;
  margin: 0px auto;
}
.list-m li {
  margin-bottom: 15px;
}
.variation-tab {
  padding: 5px 5px;
  background: #420400;
  border-radius: 6px;
  border: 0;
}
.variation-tab li button {
  background: transparent !important;
  color: #efd78c !important;
  position: relative;
  padding: 14px 15px 15px 14px;
  border: solid 1px #efd78c !important;
  width: 100%;
  border-radius: 6px !important;
}
.variation-tab li button.active {
  background: linear-gradient(#b61414, #8e1010) !important;
}
.variation-tab li {
  display: block;
  margin: 5px 0;
  width: 100%;
}
.variation-tab-content {
  background: linear-gradient(#b61414, #8e1010);
  padding: 15px;
  border: solid 1px #efd78c;
  border-radius: 6px;
}
.textchange {
  color: #ffdf00 !important;
font-weight: bold;
padding: 10px;
display: block;
padding-left: 0;
}
.page-title {

}
.page-title {
  padding: 10px 0;
color: #ffdf00;
}
.variation-tab-content h3.hcolr {
  margin-bottom: 0;
  margin-top: 15px;
}

/*Support Page*/

.support-banner {
  background: url('../img/banner.jpg')no-repeat;
  min-height: 400px;background-size: cover;
}
.my-style {
  max-width: 980px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
  padding: 60px 105px 80px 105px;
}
.cn_bold2 {
  font-size: 20px;
  padding: 0 0 20px 0;
}
.my-style .form-control {
  display: block;
  border-radius: 17px !important;
}
.my-style .form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 30px;
}
.my-style textarea.form-control {
  height: auto;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

/*Support End !*/

.download-btn {
  border: solid 1px #ffdf00;
  font-size: 16px;
  padding: 5px 12px;
  border-radius: 34px;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all .4s linear;
}
.download-btn:hover {
  background: #ffdf00;
  color: #000;
}
.avilablesection {
  padding: 15px 0;
}
.mobileshow {
  display: none;
}
.avilablesection a {
  font-weight: 700;
  padding: 8px 30px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .navinput {
  width: 130px;
}
}

@media (max-width: 991px) {
  .my-style {
  padding: 60px 15px 60px 15px;
}
.my-style .col1 {
  margin-top: 20px !important;
}
  .mobilemenu {
    display: block;
  }
  .testimonialfirst.testimonialfull {
  width: 100% !important;
padding: 0 40px;
}

  .mobilenav {
    padding: 0;width: 100% !important;
  }
  .header-nav ul {
    text-align: left !important;align-items: start !important;
  }
  .header-nav ul li {
    padding: 0px !important;
  }
  .navinput {
    width: 100%;
    margin-top: 5px;
  }
  .avilable a img {
  width: 90%;
}
.avilable .d-flex a:nth-child(1) {
  margin-right: 5px !important;
}
.logonav {
width: 75% !important;padding-right: 0;
}

}
@media (max-width: 767px) {
  .testimonial .w-auto p {
  font-size: 14px;
}
.container.my-style {
    max-width: 95%;
}
.container.my-style .col-md-6 .col1 a, .container.my-style .col-md-6 .col1 h5 {
    word-break: break-all;
    font-size: 15px;
}
  .mobileshow {
    display: block;
  }
  .avilablesection a {
    width: 100% !important;text-transform: capitalize;
  }
  .avilablesection {
  flex-wrap: wrap;
}
.avilablesection p {
  display: block;
  width: 100%;
  text-align: center;
}
.avilablesection a {
  width: 50%;
  text-align: center;
  padding: 10px 5px;
}
.avilablesection a img {
  width: 100%;margin: 0;
}
.cardcontent {
  margin-bottom: 25px;
}
.imgresponsive {
  width: 100%;
margin-bottom: 25px;
}
.icon-list ul li {
  padding: 0 5px;
  width: 30%;
  margin-bottom: 10px;
}

}